/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

header {
	 position: fixed;
	 top: 0;
	 left: 0;
	 right: 0;
	 background-color: #0075B9;
	 padding: 1em 0;
	 z-index:3;
 }

nav {
	 padding-left: 10%;
	 display: block;
 }

nav a:hover {
	color: yellow;
}

.main li {
		display: inline;
		position: relative;
}

.main li:hover ul {
	display: block;
}

.submenu li {
	display: block;
	padding: 0.5em 0;
	white-space:nowrap; 
	}

.submenu {
		display: none;
		position: absolute;
		top:2em;
		left: 0;
		background-color: rgba(0, 177, 185, 0.5);
		padding: 1em;
}

a {
	 color: white;
	 text-decoration: none;
	 padding: 1em;
	 transition: color ease 0.3s;
	 line-height: 1;
}

img {
	width: 100%;
	display: block;
	margin: 0 auto;
	}

img.full-width {
	width: 100%;
	display: block;
	margin: 0 auto;
}

article {
	position: relative;
	top: 0;
	left: 0;
}

section {
	width: 40%;
	padding: 5%;
	position: absolute;
}

section.content {
	top: 100%;
	left: 0;
}

section.ads {
	top: 100%;
	left: 50%;
}

div {
	margin: 0 auto;
	width: 90%;
	margin-top: 1%;
	margin-right: 3%;
	}

		h1 {
		  font-size: 3.5em;
			color:rgb(31, 57, 105);
		  padding: 0.5em 0;
		  position:relative;
		  top: 20px
		  left: 200px
		}

		h2 {
		  font-size: 1.5em;
		  padding-bottom: 0.5em;
		}

		b {
		  font-weight: bold;
		}

		h3 {
			font-size: 1em;
		  padding-bottom: 1em;
			color:rgb(31, 57, 105);
		}

		i {
		  font-style: italic;
		}

		p {
			font-size: 0.9em;
		  padding-bottom: 1.2em;
			line-height: normal;
		}

body {
	background-color: #FFF6D1;
	font-family: 'Asap', sans-serif;
}
